.site-structure {
    margin-left: 145px;
    margin-right: 129px;
}
.font-family {
    font-family:'Poppins';
}
p{
    margin:0px;
}
.logo{
    width: 185px;
    height:32px;
}
.navbar {
    width: auto;
    display: flex;
    background-color: white;
    opacity: 1;
    height:78px;
    position:sticky; top: 0px;
    justify-content: space-between;
    align-items: center;
    margin-bottom:30px;
}
.logo {
    display:flex;
}
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0px;
    line-height: 45px;
}
.nav-font {
    text-decoration: none;
    color: #2F281E;
    font-size: 14px;
    font-weight: 400;
    margin-left: 14px;
}
.nav-btn-font {
    text-decoration: none;
    color: #173A56;
    font-size: 16px;
    font-weight: 600;
}
.nav-btn-sign-up {
    color: #2F281E;
    width: 110px;
    height: 46px;
    text-align: center;
    background-color: #FF9900;
    line-height: 42px;
    margin margin-right: 14px;
    border-radius: 4px;
}
.nav-btn-sign-up-font {
    color:white;
}
.nav-btn-sign-in {
    text-decoration: none;
    color: #2F281E;
    width: 99px;
    height: 45px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #D8D8D8;
    line-height: 42px;
    margin-right: 14px;
    margin-left: 31px;
}
.nav-btn-sign-in:hover {
    border-color: #BCD0E5;
}
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 110px;
}
.header-content {
    /* max-width: 518px; */
}
h1 {
    font-size: 44px;
    line-height: 54px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #2F281E;
}
.header-paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #544837;
    margin-bottom: 45px;
}
.header-links {
    display: flex;
    align-items: center;
}
.btn {
    width: 175px;
    height: 53px;
    background-color: #FF9900;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
    margin-right:30px;
    text-align: center;
   
}
.btn-font {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    color: white
}
.video-link {
    display: flex;
    align-items: center;
}
.video-link-font {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 48px;
    color: #FF9900;
    text-decoration-line: underline;
    margin-left: 9px;
}

 /* Section 1 */

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
    margin:0px;
}
h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2F281E;
}
.section-1-heading {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 54px;
}
.section-1-content {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 34px;
}
.section-1-content-spacing {
    margin-right: 46px;
}
.section-1-content-font {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.section-1-btn {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 210px;
}
.text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Section 2 */

.section-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 104px;
}
.section-2-content {
    margin-right:101px;
}
.section-lead-in {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #544837;
    margin-bottom: 4px;
}
.section-2-header {
    margin-top: 0px;
    margin-bottom: 22px ;
}
h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #2F281E;
    margin-top:0px;
    margin-bottom:12px;
}
.section-main-content {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    margin-bottom:30px;
}

.section-2-sub-content {
    margin-bottom: 25px;
}

/* Section 3 */

.section-3 {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    margin-bottom: 104px;
}
.section-3-img {
        margin-right:100px;
}
.section-3-header {
    margin-top: 0px;
    margin-bottom: 22px ;
}
.section-3-list {
    padding:0px;
    list-style: none;
    display: flex;
    flex-direction:column;
    justify-content:stretch;
    /* align-items:flex-start;  */
}
.section-3-content {
    display:flex;
    align-items: center;
    margin-bottom:30px;
}
.section-3-checkmarks {
    margin-right:30px;
}

/* Section 4 */

.section-4 {
    margin-bottom: 146px;
}

/* Horizontal line */

.line {
    background-color: rgba(188, 208, 229, 0.5);
    margin-bottom: 102px;
}

/* Footer */

.footer {
    display:flex;
    height: 173px;
    margin-bottom:83px;
    justify-content: space-between;
}
.subscript-content {
    align-self: flex-end;
}
.footer-nav {
    display:flex;
    flex-direction: column;
    list-style: none;
    margin:0px;
}
.footer-font {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 35px;
    color: #544837;
}
.juridical {
    display: flex;
    flex-direction: column;
}
.inputfield {
    width: 325px;
    height:48px;
    background-color: #FFFFFF;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    margin-bottom: 21px;
}
.footer-btn {
    width: 131px;
    height: 39px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    border:none;
    padding:0px;
    background-color: #FF9900;
    color: white;
    border-radius: 4px;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25);
}
